* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
/* poppins google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* common prpperty */
body {
  background-color: #ffffff;
  font-family: Poppins;
}
.common-scal{
    margin: 50px;
}
li {
  list-style: none;
}
i {
  margin: 10px;
}
/* parents class of header name and nav */
.container {
  display: flex;
  justify-content: space-between;
}
.company-name {
  margin-bottom: 145px;
}

/* nav style started */
nav ul li a {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 16px;
  line-height: 24px;
  margin: 30px;
  list-style: none;
  margin-bottom: 80px;
  font-weight: 600;
}
/* header banner design */
.header-banner {
  display: flex;
  justify-content: space-between;
}
.header-titel {
  font-size: 52px;
  color: #3a3a3a;
}
.banner-descricption {
  margin-top: 16px;
  margin-bottom: 16px;
  color: #3a3a3a;
}
.primary-btn {
  background-color: #e02c6d;
  color: #ffffff;
  border-radius: 40px;
  font-weight: 600;
  padding: 10px 24px;
}
.img {
  background-image: url("../img/Circle\ design.svg");
  background-repeat: no-repeat;
  background-position: bottom right, left;
  margin-bottom: 70px;
}
.img img {
  width: 440px;
  height: 414px;
}

/* sponsers section design*/
.sponsers-brand {
  display: flex;
  justify-content: center;
}
.sponsers-brand img {
  margin: 25px;
  margin-bottom: 100px;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.1);
}

/* populer section design  */
.populer-header {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  color: #3a3a3a;
  margin-bottom: 30px;
}
.collections {
  width: 330px;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 30px;
}
.collections img {
  width: 300px;
  height: 256px;
}
.collections-name {
  font-size: 28px;
  color: #18191f;
  margin-bottom: 6px;
  margin-top: 16px;
}
.collections-price {
  font-size: 24px;
}
.fields {
  font-size: 10px;
  color: #fb8200;
}
.icon {
  margin-bottom: 6px;
}
.collections-description {
  font-size: 14px;
  color: #787885;
}
.populer-collections {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
.see-more {
  text-align: end;
  color: #e02c6d;
  font-size: 16px;
  font-weight: 700;
}
.see-more a {
  text-decoration: none;
  color: #e02c6d;
  
}
/* future products at one place section design */
.future-products{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 100px;
}
.future-titel{
    font-size: 38px;
    font-weight: 700;
    color: #0A0826;
    margin-bottom: 26px;
}
.future-description{
    font-size: 16px;
    font-weight: 700;
    color:#6C6C6C;
    margin-bottom: 36px;
}
/* footer part design start  */
.footer{
    background-color: #0A0826;
    
}
.footer-container{
    text-align: center;
   padding-top: 10px;
}
.footer-tag{
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 36px;
    margin-top: 50px;
}
.footer-description{
    font-size: 10px;
    margin-top: 10px;
    line-height: 15px;
    color: #D9DBE1;
    
    
}